<div class="card content-style">
  <h5 class="card-header">Zarządzaj kredytami</h5>
  <h3 class="" style="text-align: center; margin-top:1%">Weź nowy kredyt online</h3>
  <mat-card>
  <div class="cards-container">
    <button  mat-raised-button routerLink="/user/credit/new" (click)="clickedCashCredit()" class="small-card-style">
      Kredyt gotówkowy
     </button >
    <button  mat-raised-button routerLink="/user/credit/new" (click)="clickedMortgage()" class="small-card-style">
    Kredyt hipoteczny
    </button >
  </div>
    <div>
      <h3 class="" style="text-align: center; margin-top:1%">Twoja lista kredytów</h3>
      <div class="card panel">
        <div class="panel-heading">
          <div class="text-center">
            <h3 class="" style="margin-right: 70%; margin-top:1%">Kredyt gotówkowy</h3>
          </div>
        </div>

        <div class="panel-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item card-info-data">Data zawarcia kredytu: <span
              class="text-muted user-details-info">22.01.2018</span>
            </li>
            <li class="list-group-item card-info-data">Ilość rat do spłaty:<span
              class="text-muted user-details-info">21</span>
            </li>
            <li class="list-group-item card-info-data">Wysokość raty: <span
              class="text-muted user-details-info">476.23zł</span>
            </li>
            <li class="list-group-item card-info-data">Termin płacenia rat: <span
              class="text-muted user-details-info">23 dzień każdego miesiąca</span>
            </li>
          </ul>
        </div>

        <div class="card-footer">
        </div>
      </div>
    </div>
  </mat-card>


  <mat-card>
    <div>
      <div class="card panel">
        <div class="panel-heading">
          <div class="text-center">
            <h3 class="" style="margin-right: 70%; margin-top:1%">Kredyt hipoteczny</h3>
          </div>
        </div>

        <div class="panel-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item card-info-data">Data zawarcia kredytu: <span
              class="text-muted user-details-info">02.11.2016</span>
            </li>
            <li class="list-group-item card-info-data">Ilość rat do spłaty:<span
              class="text-muted user-details-info">26</span>
            </li>
            <li class="list-group-item card-info-data">Wysokość raty: <span
              class="text-muted user-details-info">899.23zł</span>
            </li>
            <li class="list-group-item card-info-data">Termin płacenia rat: <span
              class="text-muted user-details-info">27 dzień każdego miesiąca</span>
            </li>
          </ul>
        </div>

        <div class="card-footer">
        </div>
      </div>
    </div>
  </mat-card>
</div>
