<div class="card border-secondary mb-3 summary-data">
  <div class="card-header">Podsumowanie transakcji</div>
  <div class="card-body text-secondary">
    <p class="blockquote-footer">
      <small class="text-muted">
        Dane przelewającego:
      </small>
    </p>
    <h5 class="card-title">{{transactionData.ownerUserData.idPerson.name+" "+transactionData.ownerUserData.idPerson.surname}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{transactionData.bankAccountNr | accountNumberPipe}}</h6>
    <p class="card-text mb-2  info-style ">Dostępne środki: <span class="mb-1 font-weight-bold">{{transactionData.avaibleFounds}}</span>
    </p>
    <!--<p class="card-text mb-2">Kwota przelewu: <span class="mb-1">{{transactionData.}}</span></p>-->
    <p class="card-text mb-2  info-style">Kwota przelewu: <span
      class="mb-1 font-weight-bold">{{transactionData.amount}}</span></p>
    <p class="card-text mb-2  info-style">Data przelewu: <span class="mb-1 font-weight-bold">{{transactionData.transactionDate | date}}</span>
    </p>
    <p class="blockquote-footer">
      <small class="text-muted">
        Dane odbiorcy:
      </small>
    </p>
    <h5 class="card-title">{{transactionData.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{formatAccountNr(transactionData.accountNr | accountNumberPipe)}}</h6>
    <p class="card-text mb-2  info-style ">Adres odbiorcy: <span class="mb-1 font-weight-bold">{{transactionData.address}}</span>
    </p>
    <p class="card-text mb-2  info-style">Kwota przelewu: <span
      class="mb-1 font-weight-bold">{{transactionData.amount}}</span></p>
  </div>

  <div class="card-footer">
    <div class="form-group row ">
      <label for="inputPassword" class="col-sm-2 col-form-label" style="display: inline-table; white-space: nowrap">Podaj
        kod potwierdzający: </label>
      <input type="text" class="form-control" style="width: 30%;" id="inputPassword" placeholder="Kod">
      <button matStepperNext class="btn btn-primary" style="margin-left: 2%" (click)="finishTransaction()">Zakończ</button>
    </div>
  </div>
</div>
