<div style="width:600px; text-align:center; margin:0 auto;">
  <h3>Zarejstruj użytkownika</h3>
<form [formGroup]="registryForm" class="register-form" novalidate>
    <div class="form-group">

      <input type="text"
             class="form-control"
             placeholder="Imię"
             formControlName="name"
             required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" name.invalid">
          Nazwa jest wymagana...
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="name.valid">Nazwa poprawna</p>
      </div>
    </div>
    <div class="form-group ">

      <input type="text"
             class="form-control"
             formControlName="surname"
              placeholder="Nazwisko"
             required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" surname.invalid">
          Nazwisko jest wymagane...
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="surname.valid">Nazwisko poprawna</p>
      </div>

    </div>
    <div class="form-group">

      <input
        type="text"
        class="form-control"
        formControlName="login"
        placeholder="Login"
        required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" login.invalid">
          Login jest wymagany...
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="login.valid">Login poprawny</p>
      </div>

    </div>
    <div class="form-group">

      <input type="password"
             class="form-control"
             formControlName="password"
             placeholder="Hasło"
             required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" password.invalid">
          Hasło jest wymagane...
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="password.valid">Hasło poprawne</p>
      </div>
    </div>
    <div class="form-group">

      <input type="email"
             class="form-control"
             formControlName="email"
             placeholder="Email"
             required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" email.invalid">
          Email  jest wymagany...
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="email.valid">Email poprawny</p>
      </div>
    </div>

  <div class="form-group" >

    <input type="text"
           class="form-control"
           formControlName="pesel"
           placeholder="Pesel"
           required>
    <div
      class=form-control-feedback>
      <p
        *ngIf=" pesel.invalid">
        Pesel jest wymagany...
      </p>
    </div>
    <div class=form-control-feedback>
      <p *ngIf="pesel.valid">Pesel poprawny</p>
    </div>
  </div>

    <div class="form-group">

        <input type="tel"
               class="form-control"
               formControlName="phone"
               placeholder="Telefon"
               required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" phone.invalid">
         Telefon jest wymagany...
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="phone.valid">Telefon poprawny</p>
      </div>
      </div>
    <div class="form-group">
    </div>
    <button type="submit"  class="btn btn-success "[disabled]="registryForm.invalid"
    >Zarejstruj
    </button>
  </form>
</div>
