<div style="width:600px; text-align:center; margin:0 auto;">
  <h3>Wypłać gotwkę</h3>


      <div class=".col-6 cash-data">
      <form [formGroup]="cashForm" class="cash-form" novalidate>
        <div class="form-group">
        <p> Imię: <p>
          <input type="text"
                 class="form-control"
                 [ngClass]="{
               'is-invalid':name.invalid && name.dirty,
               'is-valid':name.valid
                }"
                 formControlName="name"
                 placeholder="Imie"
                 required>
          <div class=invalid-feedback>
            <p *ngIf="name.hasError('required')">Niepoprawe imię...</p>
          </div>

           <div class="form-group"></div>

      <div class=".col-6 cash-data">
      <form [formGroup]="cashForm" class="cash-form" novalidate>
        <div class="form-group">
          <p> Nazwisko: <p>
          <input type="text"
                 class="form-control"
                 [ngClass]="{
               'is-invalid':surname.invalid && surname.dirty,
               'is-valid':surname.valid
                }"
                 formControlName="surname"
                 placeholder="Nazwisko"
                 required>
          <div class=invalid-feedback>
            <p *ngIf="surname.hasError('required')">Niepoprawe Nazwisko!...</p>
          </div>
   <div class="form-group"></div>

  <div class=".col-6 cash-data">
      <form [formGroup]="cashForm" class="cash-form" novalidate>
        <div class="form-group">
        <p> Pesel: <p>
          <input type="text"
                 class="form-control"
                 [ngClass]="{
               'is-invalid':pesel.invalid && pesel.dirty,
               'is-valid':pesel.valid
                }"
                 formControlName="pesel"
                 placeholder="Pesel"
                 required>
          <div class=invalid-feedback>
            <p *ngIf="pesel.hasError('required')">Uzupełnij pesel...</p>
            <p *ngIf="pesel.hasError('pattern')">Niepoprawny pesel...</p>
          </div>
  
        <div class="form-group"></div>
     
     


    </div>
    <div class="form-group">
      </div>
       
        <a class="nav-link" routerLink="/consultant/withdraw"><button  [disabled]="cashForm.invalid" >Dalej</button></a>
    
    
  </form>
</div>
