<div style="width:600px; text-align:center; margin:0 auto;">
  <h3>Dodaj oferte</h3>
  <form  [formGroup]="offerForm" class="offerForm" novalidate>

    <div class="form-group">

      <input type="text"
             class="form-control"
             placeholder="Id oferty"
             formControlName="idBankAccountOffer"
             id="idBankAccountOffer"
             required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" id.invalid">
          To pole jest wymagane
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="id.valid"></p>
      </div>
    </div>

    <div class="form-group">

      <input type="text"
             class="form-control"
             placeholder="Nazwa oferty"
             formControlName="name"
             value={{ofname}}
             id="name"
             required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" name.invalid">
          To pole jest wymagane
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="name.valid"></p>
      </div>
    </div>
    <div class="form-group ">

      <input type="text"
             class="form-control"
             formControlName="bankTransferPrice"
             placeholder="Cena przelewu"
             id="bankTransferPrice"
             required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" bankTransferPrice.invalid">
          To pole jest wymagane
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="bankTransferPrice.valid"></p>
      </div>

    </div>
    <div class="form-group">

      <input
        type="text"
        class="form-control"
        formControlName="accountManagementPrice"
        id="accountManagementPrice"
        placeholder="Cena zarządzania kontem"
        required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" accountManagementPrice.invalid">
          To pole jest wymagane
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="accountManagementPrice.valid"></p>
      </div>

    </div>
    <div class="form-group">

      <input type="text"
             class="form-control"
             id="cardPrice"
             formControlName="cardPrice"
             placeholder="Cena za karte"
             required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" cardPrice.invalid">
          To pole jest wymagane
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="cardPrice.valid"></p>
      </div>
    </div>
    <div class="form-group">

      <input type="text"
             class="form-control"
             formControlName="stateOfOffer"
             placeholder="Status oferty"
             id="stateOfOffer"
             required>
      <div
        class=form-control-feedback>
        <p
          *ngIf=" stateOfOffer.invalid">
          To pole jest wymagane
        </p>
      </div>
      <div class=form-control-feedback>
        <p *ngIf="stateOfOffer.valid"></p>
      </div>
    </div>
    <div class="form-group">
    </div>
    <button type="submit" (click)="send()"  class="btn btn-success "[disabled]="offerForm.invalid"
    >Stwórz
    </button>
    <button type="submit" class="btn btn-success" (click)="load()">Laduj</button>
  </form>
  <div class="example-container mat-elevation-z8">


    <table mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="idBankAccountOffer">
        <th mat-header-cell *matHeaderCellDef style="max-width: 400px">Id</th>
        <td mat-cell  *matCellDef="let element " (click) = "onClick(element.id, element.name, element.bankTransferPrice, element.accountManagementPrice, element.cardPrice, element.stateOfOffer )" class="table-content"> {{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="max-width: 400px">Nazwa</th>
        <td mat-cell  *matCellDef="let element " (click) = "onClick(element.name, element.bankTransferPrice, element.accountManagementPrice, element.cardPrice, element.stateOfOffer )" class="table-content"> {{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="bankTransferPrice">
        <th mat-header-cell *matHeaderCellDef> Cena za przelew</th>
        <td mat-cell  *matCellDef="let element " (click) = "onClick(element.name, element.bankTransferPrice, element.accountManagementPrice, element.cardPrice, element.stateOfOffer )" class="table-content"> {{element.bankTransferPrice}}</td>
      </ng-container>

      <ng-container matColumnDef="accountManagementPrice">
        <th mat-header-cell *matHeaderCellDef> Cena za zarządzanie</th>
        <td mat-cell  *matCellDef="let element " (click) = "onClick(element.name, element.bankTransferPrice, element.accountManagementPrice, element.cardPrice, element.stateOfOffer )" class="table-content"> {{element.accountManagementPrice}}</td>
      </ng-container>

      <ng-container matColumnDef="cardPrice">
        <th mat-header-cell *matHeaderCellDef> Cena za karte</th>
        <td mat-cell  *matCellDef="let element " (click) = "onClick(element.name, element.bankTransferPrice, element.accountManagementPrice, element.cardPrice, element.stateOfOffer )" class="table-content"> {{element.cardPrice}}</td>
      </ng-container>

      <ng-container matColumnDef="stateOfOffer">
        <th mat-header-cell *matHeaderCellDef> Status oferty</th>
        <td mat-cell  *matCellDef="let element " (click) = "onClick(element.name, element.bankTransferPrice, element.accountManagementPrice, element.cardPrice, element.stateOfOffer )" class="table-content"> {{element.stateOfOffer}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


</div>

