.transaction-form{
  padding: 5%;
}
.overflow-data {
  margin: 50px auto auto 50px;
  width: 40rem !important;
}

.transaction-data{
  width:  50%!important;
}

.user-details-info {
  right: 0;
  position: absolute;
}
