<div class="content-style">
  <div class="card personal-info-style">
    <h5 class="card-header">Znajdz </h5>
    <div class="card-body row" style="display: inline-flex">

    </div>
    <div class="card-footer bg-transparent">
      <div style="display: inline-flex;">
      </div>
      <div class="filter-box">
        <mat-form-field class="filter-input">
          <input matInput style="padding-left:20px;" (keyup)="applyFilter($event.target.value)" placeholder="Wpisz  ">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="example-container mat-elevation-z8">


    <table mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="max-width: 400px">Imie</th>
        <td mat-cell *matCellDef="let element" class="table-content"> {{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Nazwisko</th>
        <td mat-cell *matCellDef="let element" class="table-content"> {{element.surname}}</td>
      </ng-container>'=


      <ng-container matColumnDef="adres">
        <th mat-header-cell *matHeaderCellDef> Adres</th>
        <td mat-cell *matCellDef="let element" class="table-content"> {{element.adres}}</td>
      </ng-container>


      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Typ konta</th>
        <td mat-cell *matCellDef="let element" class="table-content"> {{element.type}}</td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Numer rachunku</th>
        <td mat-cell *matCellDef="let element" class="table-content"> {{element.number}}</td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
</div>
