


<mat-horizontal-stepper [linear]="isLinear" #stepper >
  <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Uzupełnij dane przelewu</ng-template>
    <app-input-data
      *ngIf="!received"
      (sendTransactionDataEvent)="receiveMessage($event)">
    </app-input-data>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">

      <ng-template matStepLabel>Potwierdź przelew</ng-template>
    <app-summary *ngIf="received && (!transactionStatus)"
                 (transactionStatusEvent)="receivedStatus($event)"
                 [transactionData]="transactionData">
    </app-summary>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Koniec!</ng-template>
    <app-final-message
      *ngIf="transactionStatus">
    </app-final-message>
  </mat-step>
</mat-horizontal-stepper>








