<h1 mat-dialog-title>Czasowa blokada karty</h1>
<div mat-dialog-content>
  <p>Czasowa blokada karty uniemożliwi wykonywanie transakcji. Odblokowanie karty bedzie możliwe po zalogowanie ponownie do systemu.</p>
  <hr style=" margin: 2% auto;">
  <h6 class="card-title">Karta: <span class="card-subtitle mb-2 text-muted">{{data.cardName}}</span></h6>
  <h6 class="card-title">Numer: <span class="card-subtitle mb-2 text-muted">{{data.cardNumber}}</span></h6>
    <h6 class="card-title">Właściciel: <span class="card-subtitle mb-2 text-muted">{{data.cardOwner}}</span></h6>
</div>
<hr style=" margin: 2% auto;">
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button class="mat-raised-button mat-primary" [mat-dialog-close]="data.animal" cdkFocusInitial>Zablokuj</button>
</div>
